<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div style="padding: 40px">
    <form id="formId" class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label sx-input-name" style="text-align: left">
                字典名称
            </label>
            <div class="layui-input-block">
                <input type="text" class="layui-input sx-input" maxlength="64"
                       name="typeName" placeholder="字典名称" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label sx-input-name" style="text-align: left">
                字典编号
            </label>
            <div class="layui-input-block">
                <input type="text" class="layui-input sx-input" maxlength="64"
                       name="typeNo" placeholder="字典编号" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label sx-input-name" style="text-align: left">
                备注
            </label>
            <div class="layui-input-block">
                <input type="text" class="layui-input sx-input" maxlength="500"
                       name="remark">
            </div>
        </div>
    </form>
</div>
</body>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "admin/dict";
    layui.use(['form'], function () {
        var form = layui.form;
        /**
         * 保存ajax
         * @param formId
         */
    });

    function submitHandler(formId) {
        var config = {
            url: prefix + "/add",
            data: $("#" + formId).serialize()
        };
        $.submit.addSubmit(config)
    }
</script>
</html>