<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="childrenBody">
<div>
    <div class="layui-btn-group">
        <button class="layui-btn" id="add">新增</button>
    </div>
    <table id="layerTable" class="layui-table" lay-filter="layerTable"></table>
</div>
<!-- 操作列 -->
<script type="text/html" id="tableManage">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">
        <i class="layui-icon">&#xe654;</i>详情
    </a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="status">
        <i class="layui-icon"></i>状态
    </a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">
        <i class="layui-icon">&#xe642;</i>修改
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon">&#xe640;</i>删除
    </a>
</script>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    // 全局加载模块
    layui.use(['table'], function () {
        var layer = layui.layer;
        $ = layui.jquery,
            table = layui.table;
        var prefix = ctx + 'admin/dict';
        var addUrl = prefix + '/add';
        var statusDict = [[${@dict.getValue('sys_dict_status')}]];
        var id;
        //main方法
        $(function () {
            // 渲染表格
            tableInit();
            tableTool();
        })

        //新增菜单
        $("#add").on("click", function () {
            layer.open({
                type: 2,
                title: '添加',
                content: addUrl,
                maxmin: true,
                btn: ['确定', '取消'],
                area: ['600px', '550px'],
                yes: function (index, layero) {
                    callback(index, layero);
                }
            });
        });

        callback = function (index, layero) {
            var iframeWin = layero.find('iframe')[0];
            iframeWin.contentWindow.submitHandler("formId");
        }

        function tableInit() {
            var options = {
                elem: '#layerTable',
                url: prefix + '/list',
                cols: [
                    [
                        {field: 'id', width: 0, align: 'center', title: 'id', hide: true},
                        {field: 'typeNo', align: 'center', title: '字典编号'},
                        {field: 'typeName', align: 'center', title: '字典名称'},
                        {
                            field: 'status', align: 'center', title: '字典状态', templet: function (d) {
                                return $.table.selectDictLabel(statusDict, d.status);
                            }
                        },
                        {field: 'remark', align: 'renter', title: '备注'},
                        {templet: '#tableManage', width: 350, align: 'center', title: '操作'}
                    ]
                ]
            };
            $.table.init(options);
        }

        function tableTool() {
            //监听工具条
            table.on('tool(layerTable)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                id = data.id;
                var url;
                if (layEvent === 'del') {
                    //询问框
                    layer.confirm('是否删除？' + data.typeName, {
                        btn: ['确认', '取消'] //按钮
                    }, function () {
                        var config = {
                            url: prefix + "/move/" + id
                        };
                        $.submit.moveSubmit(config);
                        layer.closeAll();
                    }, function () {
                        return true;
                    });
                } else if (layEvent === 'edit') {
                    url = prefix + '/edit';
                    layer.open({
                        type: 2,
                        title: '修改',
                        content: url + "/" + id,
                        maxmin: true,
                        btn: ['确定', '取消'],
                        area: ['600px', '550px'],
                        yes: function (index, layero) {
                            callback(index, layero);
                        }
                    });
                } else if (layEvent === 'detail') {
                    location.href = '/admin/dictData/' + data.typeNo;
                }
            });
        }
    });
</script>
</body>
</html>