<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div style="padding: 40px">
    <form id="formId" class="layui-form" th:object="${dict}">
        <input name="id" th:field="*{id}" hidden/>
        <input name="typeNo" th:field="*{typeNo}" hidden/>
        <div class="layui-form-item">
            <label class="layui-form-label rs-input-name" style="text-align: left">
                字典名称
            </label>
            <div class="layui-input-block">
                <input type="text" class="layui-input rs-input" maxlength="64"
                       name="typeName" th:field="*{typeName}" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label rs-input-name" style="text-align: left">
                备注
            </label>
            <div class="layui-input-block">
                <input type="text" class="layui-input rs-input" maxlength="500"
                       name="remark" th:field="*{remark}">
            </div>
        </div>
    </form>
</div>
</body>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "admin/dict";

    function submitHandler(formId) {
        var config = {
            url: prefix + "/edit",
            data: $("#" + formId).serialize()
        };
        $.submit.editSubmit(config)
    }
</script>
</html>