<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<body class="childrenBody">
<div>
    <div class="layui-btn-group">
        <button class="layui-btn" id="new-add">新增</button>
    </div>

    <table id="treeTable" class="layui-table" lay-filter="treeTable"></table>
</div>
<!-- 操作列 -->
<script type="text/html" id="treeManage">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">
        <i class="layui-icon">&#xe654;</i>详情
    </a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">
        <i class="layui-icon">&#xe642;</i>修改
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon">&#xe640;</i>删除
    </a>
</script>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + 'admin/dict';
    var id;
    //main方法
    $(function () {
        layui.use(['form', 'layer', 'table'], function () {
            var layer = layui.layer;
            var form = layui.form,
                layer = parent.layer === undefined ? layui.layer : top.layer,
                $ = layui.jquery,
                table = layui.table;
            // 渲染表格
            tableInit();
        });
    })

    //新增菜单
    // $("#new-add").on("click", function () {
    //     console.log("=======")
    //     layui.use('element', function() {
    //         var $ = layui.jquery
    //             , element = parent.layui.element;//Tab的切换功能，切换事件监听等，需要依赖element模块
    //         element.tabAdd('bodyTab', {
    //             title : 'xinchuangkou',
    //             content :"aaaaa",
    //             id : new Date().getTime()
    //         });
    //
    //     });
    //
    // });


    //添加非菜单的新窗口
    $("#new-add").on("click",function () {
        var options = {
            id: '新窗口',
            url: 'aaaa',
            icon: 'ooooo',
            title: 'ppppp'
        };
        createTab(options);
    });


    callback = function (index, layero) {
        var iframeWin = layero.find('iframe')[0];
        iframeWin.contentWindow.submitHandler("formId");
    }

    function tableInit() {
        var options = {
            elem: '#treeTable',
            url: prefix + '/list',
            page: false,
            cols: [
                [
                    {field: 'id', width: 0, align: 'center', title: 'id', hide: true},
                    {field: 'typeNo',  align: 'center', title: '字典编号'},
                    {field: 'typeName', align: 'center', title: '字典名称'},
                    {templet: '#treeManage', width: 350, align: 'center', title: '操作'}
                ]
            ]
        };
        $.table.init(options);
    }

</script>
</body>
</html>