<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="childrenBody">
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" class="layui-input searchVal" placeholder="请输入搜索的内容"/>
                </div>
                <a class="layui-btn search_btn layui-btn-radius" data-type="reload">搜索</a>
            </div>
            <div class="col-sm-4">
                <label class="layui-form-label col-sm-3">请选择范围</label>
                <div class="layui-input-inline col-sm-9">
                    <input type="text" class="layui-input layer-range-time" id="time" placeholder="开始 到 结束">
                </div>
            </div>
        </form>
    </blockquote>

    <table id="approvalList" lay-filter="approvalList"></table>

    <script type="text/html" id="approvalListBar">
        <a class="layui-btn layui-btn-xs" lay-event="adopt">通过</a>
        <a class="layui-btn layui-btn-xs" lay-event="reject">驳回</a>
    </script>
</form>
<div th:include="include :: footer"></div>
<script>
    $(function () {
        layui.use(['form', 'layer','table'], function () {
            var layer = layui.layer;
            layer.msg('hello');
            var form = layui.form,
                layer = parent.layer === undefined ? layui.layer : top.layer,
                $ = layui.jquery,
                table = layui.table;


            var options = {
                elem: '#approvalList',
                url: ctx + 'college/college/subordinateList',
                title: '教务审核表',
                toolbar: '#toolbarDemo',
                id: "approvalListTable",
                cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {field: 'stuNo', title: '学号', align: "center"},
                        {field: 'userName', title: '姓名', align: "center"},
                        {field: 'subClass', title: '班级', align: "center"},
                        {field: 'major', title: '专业', align: "center"},
                        {field: 'subordinate', title: '所属学院', align: "center"},
                        {field: 'institute', title: '开课学院', align: "center"},
                        {field: 'originalSubNo', title: '原课程代码', align: "center"},
                        {field: 'originalSubName', title: '原课程名称', align: "center"},
                        {field: 'originalSubCredit', title: '原学分', align: "center"},
                        {field: 'nowSubNo', title: '现课程代码', align: "center"},
                        {field: 'nowSubName', title: '现课程名称', align: "center"},
                        {field: 'nowSubCredit', title: '现学分', align: "center"},
                        {field: 'subCarryNo', title: '开课编号', align: "center"},
                        {field: 'subClassName', title: '教学班级', align: "center"},
                        {field: 'status', title: '是否审批', align: "center",templet: function (d) {
                                if (d.status =='0'){
                                    return '未审核'
                                }else if(d.status =='1'){
                                    return '开课通过'
                                }else if(d.status =='2'){
                                    return '开课驳回'
                                }else if(d.status =='3'){
                                    return '教务通过'
                                }else if(d.status =='4'){
                                    return '教务驳回'
                                }
                            }},
                        {field: 'remark', title: '备注', align: 'center', event: 'setRemark'},
                        {title: '审批操作', width: 220, templet: '#approvalListBar', fixed: "right", align: "center"},
                    ]
                ]
            };

            $.table.init(options);


            table.on('toolbar(approvalList)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选' : '未全选');
                        break;
                }
                ;
            });

            table.on('tool(approvalList)', function (obj) {
                var data = obj.data;
                if (obj.event === 'adopt') {
                    $.ajax({
                        url: "classBeginsList",
                        type: "POST",
                        data:{"id":data.id,"status":"3"},
                        dataType: "json",
                    });
                } else if (obj.event === 'reject') {
                    $.ajax({
                        url: "classBeginsList",
                        type: "POST",
                        data:{"id":data.id,"status":"4"},
                        dataType: "json",
                    });
                }
            });

            console.log($.table.edit('approvalList'));
            console.log($.table.checkbox('approvalList'));


            $(".search_btn").on("click", function () {
                console.log($('.layer-range-time').val());
                if ($(".searchVal").val() != '') {
                    table.reload("approvalListTable", {
                        page: {
                            curr: 1
                        },
                        where: {
                            key: $(".searchVal").val()
                        }
                    })
                } else {
                    layer.msg("请输入搜索的内容");
                }
            });

        })
    })


</script>
</body>
</html>