<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>替换课程页</title>
</head>

<body>
<table width="50%" height="110" border="1" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <th>原课程代码</th>

        <th>替换课程代码</th>

        <th>修改</th>
    </tr>
    <tr th:each="subReplaceEntity : ${list}">
        <td th:text="${subReplaceEntity.subNo}">GE011</td>

        <td th:text="${subReplaceEntity.subReplaceNo}">GE011</td>

        <td><a href="upSubReplace.html" th:href="@{/academic/academic/upReplace(Id=${subReplaceEntity.Id})}">修改</a></td>
    </tr>
    <tr>
        <td height="27" colspan="18"><div align="center">
            <a href="/add/add/addSubReplace">添加</a>
        </div>
        </td>
    </tr>
</table>
</body>
</html>
