<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="childrenBody">
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" class="layui-input searchVal" placeholder="请输入搜索的内容"/>
                </div>
                <a class="layui-btn search_btn layui-btn-radius" data-type="reload">搜索</a>
            </div>
            <div class="col-sm-4">
                <label class="layui-form-label col-sm-3">请选择范围</label>
                <div class="layui-input-inline col-sm-9">
                    <input type="text" class="layui-input layer-range-time" id="time" placeholder="开始 到 结束">
                </div>
            </div>
        </form>
    </blockquote>

    <table id="chooseList" lay-filter="chooseList"></table>

    <script type="text/html" id="chooseListBar">
        <a class="layui-btn layui-btn-xs" lay-event="detail">点击选课</a>
    </script>

</form>
<div th:include="include :: footer"></div>
<script>
    $(function () {
        layui.use(['form', 'layer','table'], function () {
            var layer = layui.layer;
            layer.msg('hello');
            var form = layui.form,
                layer = parent.layer === undefined ? layui.layer : top.layer,
                $ = layui.jquery,
                table = layui.table;

                var subNo;
                var url = window.location.search;
                if (url.indexOf("?") != -1) {
                    subNo = url.substr(url.indexOf("=") + 1);
                }

            var options = {

                elem: '#chooseList',
                url: ctx + 'stu/stu/chooseList',
                where:{subNo:subNo},
                title: '选择课程表',
                toolbar: '#toolbarDemo',
                id: "chooseListTable",
                cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {field: 'subCarryNo', title: '开课编号', align: "center",width: 200},
                        {field: 'subNo', title: '课程编号', align: "center",width: 200},
                        {field: 'subName', title: '课程名称', align: "center",width: 200},
                        {field: 'subInstitute', title: '开课院系', align: "center",width: 200},
                        {field: 'subPlanType', title: '计划类型', align: "center",width: 200},
                        {field: 'subTotalPeriod', title: '总学时', align: "center",width: 200},
                        {field: 'subTheoryPeriod', title: '理论学时', align: "center",width: 200},
                        {field: 'subPracticePeriod', title: '实践学时', align: "center",width: 200},
                        {field: 'subCredit', title: '学分', align: "center",width: 200},
                        {field: 'subClassName', title: '教学班名称', align: "center",width: 200},
                        {field: 'subMenCount', title: '已有人数', align: "center",width: 200},
                        {field: 'subMenTotalCount', title: '总人数', align: "center",width: 200},
                        {field: 'subTeacherId', title: '老师', align: "center",width: 200},
                        {field: 'subAddress', title: '地点', align: "center",width: 200},
                        {field: 'subWeek', title: '周次', align: "center",width: 200},
                        {field: 'subWeekDay', title: '星期', align: "center",width: 200},
                        {field: 'subPeriod', title: '节次', align: "center",width: 200},
                        {title: '选课操作', width: 220, templet: '#chooseListBar', fixed: "right", align: "center"},

                    ]
                ]
            };

            $.table.init(options);


            table.on('toolbar(chooseList)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选' : '未全选');
                        break;
                }
                ;
            });

            table.on('tool(chooseList)', function (obj) {
                var data = obj.data;
              if (obj.event === 'detail') {
                  window.location.href="course?subCarryNo="+data.subCarryNo;
                }
            });

            console.log($.table.checkbox('chooseList'));


            $(".search_btn").on("click", function () {
                console.log($('.layer-range-time').val());
                if ($(".searchVal").val() != '') {
                    table.reload("chooseList", {
                        page: {
                            curr: 1
                        },
                        where: {
                            key: $(".searchVal").val()
                        }
                    })
                } else {
                    layer.msg("请输入搜索的内容");
                }
            });

        })
    })


</script>
</body>
</html>