<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>选择课程页</title>
</head>

<body>
            <form action="/stu/stu/sou" method="post">
                <table align="center">
                    <tr>
                        <td><input name="sou" type="text" id="sou" /><input type="submit" value="搜索"></td>
                    </tr>
                </table>
            </form>
<table width="100%" border="1" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="7%">开课编号</td>
        <td width="6%">课程编号</td>
        <td width="7%">课程名称</td>
        <td width="7%">开课院系</td>
        <td width="8%">计划类型</td>
        <td width="6%">总学时</td>
        <td width="6%">理论学时</td>
        <td width="7%">实践学时</td>
        <td width="5%">学分</td>
        <td width="8%">教学班名称</td>
        <td width="6%">已有人数</td>
        <td width="6%">总人数</td>
        <td width="4%">老师</td>
        <td width="6%">地点</td>
        <td width="6%">周次</td>
        <td width="6%">星期</td>
        <td width="5%">节次</td>
        <td width="5%">操作</td>
    </tr>
    <tr th:each="subjectEntity : ${list}">
        <td th:text="${subjectEntity.subCarryNo}">1067667</td>
        <td th:text="${subjectEntity.subNo}">CS1789</td>
        <td th:text="${subjectEntity.subName}">高数Ⅰ</td>
        <td th:text="${subjectEntity.subInstitute}">基础教育部</td>
        <td th:text="${subjectEntity.subPlanType}">培养方案</td>
        <td th:text="${subjectEntity.subTotalPeriod}">64</td>
        <td th:text="${subjectEntity.subTheoryPeriod}">64</td>
        <td th:text="${subjectEntity.subPracticePeriod}">0</td>
        <td th:text="${subjectEntity.subCredit}">6</td>
        <td th:text="${subjectEntity.subClassName}">18软工三班</td>
        <td th:text="${subjectEntity.subMenCount}">66</td>
        <td th:text="${subjectEntity.subMenTotalCount}">66</td>
        <td th:text="${subjectEntity.sysUser.userName}">李六</td>
        <td th:text="${subjectEntity.subAddress}">F103</td>
        <td th:text="${subjectEntity.subWeek}">1，4</td>
        <td th:text="${subjectEntity.subWeekDay}">1，4</td>
        <td th:text="${subjectEntity.subPeriod}">0102，0304</td>
        <td><a href="course.html" th:href="@{/stu/stu/course(subCarryNo=${subjectEntity.subCarryNo})}">申请重修</a></td>
    </tr>
</table>
</body>
</html>
