<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>搜索页</title>
</head>

<body>
<form action="/stu/stu/choose" method="post">
    <table align="center">
        <tr>
            <td><input name="textfield" type="text" value="" /><input type="submit" name="Submit" value="搜索"></td>
        </tr>
    </table>
    <table width="345" border="1" align="center" cellpadding="0" cellspacing="0">
        <tr><th>学年学期</th>
            <td colspan="3"><select style="width:173px;">
                <option value="1">2018-2019-1</option>
                <option value="1">全部</option>
                <option value="1">2015-2016-1</option>
                <option value="1">2015-2016-2</option>
                <option value="1">2016-2017-1</option>
                <option value="1">2016-2017-2</option>
                <option value="1">2017-2018-1</option>
                <option value="1">2017-2018-2</option>
                <option value="1">2018-2019-2</option>
                <option value="1">2019-2020-1</option>
                <option value="1">2019-2020-2</option>
            </select>

        <tr>
            <th>课程</td>
            <th>成绩</td>
            <th>申请重修</td>
        </tr>
        <tr>
            <td>高数Ⅰ</td>
            <td>11</td>
            <td> <input type="submit" name="Submit" value="申请重修"></td>
        </tr>
        <tr>
            <td>线性代数</td>
            <td>59</td>
            <td> <input type="submit" name="Submit" value="申请重修"></td>
        </tr>
    </table>
</form>
</body>
</html>
