<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>搜索页</title>
</head>

<body>
<form action="/stu/stu/sou" method="post">
    <table align="center">
        <tr>
            <td><input name="sou" type="text" id="sou" /><input type="submit" value="搜索"></td>
        </tr>
    </table>
</form>
<form action="/stu/stu/sou" method="post">
    <table width="345" border="1" align="center" cellpadding="0" cellspacing="0">
        <tr><th>学年学期</th>
            <td colspan="3"><select style="width:173px;">
                <option value="1">2018-2019-1</option>
                <option value="1">全部</option>
                <option value="1">2015-2016-1</option>
                <option value="1">2015-2016-2</option>
                <option value="1">2016-2017-1</option>
                <option value="1">2016-2017-2</option>
                <option value="1">2017-2018-1</option>
                <option value="1">2017-2018-2</option>
                <option value="1">2018-2019-2</option>
                <option value="1">2019-2020-1</option>
                <option value="1">2019-2020-2</option>
            </select>
        <tr>
            <th>课程代码</th>
            <th>课程名</th>
            <th>历史修读学期</th>
            <th>历史成绩</th>
            <th>选课操作</th>
            <th>选课情况</th>
        </tr>
            <tr th:each="comSubEntity : ${list}">
            <td th:text="${comSubEntity.subNo}">GE6045</td>
            <td th:text="${comSubEntity.subName}">高数Ⅰ</td>
            <td>2017-2018-1</td>
            <td th:text="${comSubEntity.score}">11</td>
            <td><a href="choose.html" th:href="@{/stu/stu/choose(subNo=${comSubEntity.subNo})}">点击选课</a></td>
                <td></td>
            </tr>
        <tr th:each="comSubEntity1 : ${list1}">
            <td th:text="${comSubEntity1.subNo}">GE6045</td>
            <td th:text="${comSubEntity1.subName}">高数Ⅰ</td>
            <td>2017-2018-1</td>
            <td th:text="${comSubEntity1.score}">11</td>
            <td>已选择</td>
            <td></td>
        </tr>
        </tr>
    </table>
</form>
</body>
</html>
