<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
</head>

<body>
<form method="post" action="/add/add/addComSub">
    <table border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>学号</td>
            <td><input name="stuNo" type="text" id="stuNo"/></td>
        </tr>
        <tr>
            <td>课程编号</td>
            <td><input name="subNo" type="text" id="subNo"/></td>
        </tr>
        <tr>
            <td>课程名称</td>
            <td><input name="subName" type="text" id="subName"/></td>
        </tr>
        <tr>
            <td>成绩</td>
            <td><input name="score" type="text" id="score"/></td>
        </tr>
        <tr>
            <td>学分</td>
            <td><input name="credit" type="text" id="credit"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center"> <button type="submit">提交</button></td>
        </tr>
    </table>

</form>
</body>
</html>
