<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
</head>

<body>
<form method="post" action="/add/add/addSubReplace">
    <table border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>原课程编号</td>
            <td><input name="subNo" type="text" id="subNo"/></td>
        </tr>
        <tr>
            <td>替代课程课程编号</td>
            <td><input name="subReplaceNo" type="text" id="subReplaceNo"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="确定"></td>
        </tr>
    </table>

</form>
</body>
</html>
