<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
</head>

<body>
<form method="post" action="/add/add/addSubOpt">
    <table border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>学号</td>
            <td><input name="stuNo" type="text" id="stuNo"/></td>
        </tr>
        <tr>
            <td>课程id</td>
            <td><input name="subId" type="text" id="subId"/></td>
        </tr>
        <tr>
            <td>课程名称</td>
            <td><input name="subName" type="text" id="subName"/></td>
        </tr>
        <tr>
            <td>审核状态</td>
            <td><input name="status" type="text" id="status"/></td>
        </tr>
    </table>

</form>
</body>
</html>
