<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
</head>

<body>
<form method="post" action="/add/add/addSubject">
    <table border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>开课编号</td>
            <td><input name="subCarryNo" type="text" id="subCarryNo"/></td>
        </tr>
        <tr>
            <td>课程编号</td>
            <td><input name="subNo" type="text" id="subNo"/></td>
        </tr>
        <tr>
            <td>课程名称</td>
            <td><input name="subName" type="text" id="subName"/></td>
        </tr>
        <tr>
            <td>开课院系</td>
            <td><input name="subInstitute" type="text" id="subInstitute"/></td>
        </tr>
        <tr>
            <td>学分</td>
            <td><input name="subCredit" type="text" id="subCredit"/></td>
        </tr>
        <tr>
            <td>教学班名称</td>
            <td><input name="subClassName" type="text" id="subClassName"/></td>
        </tr>
        <tr>
            <td>已有人数</td>
            <td><input name="subMenCount" type="text" id="subMenCount"/></td>
        </tr>
        <tr>
            <td>总人数</td>
            <td><input name="subMenTotalCount" type="text" id="subMenTotalCount"/></td>
        </tr>
        <tr>
            <td>计划类型</td>
            <td><input name="subPlanType" type="text" id="subPlanType"/></td>
        </tr>
        <tr>
            <td>总学时</td>
            <td><input name="subTotalPeriod" type="text" id="subTotalPeriod"/></td>
        </tr>
        <tr>
            <td>理论学时</td>
            <td><input name="subTheoryPeriod" type="text" id="subTheoryPeriod"/></td>
        </tr>
        <tr>
            <td>实践学时</td>
            <td><input name="subPracticePeriod" type="text" id="subPracticePeriod"/></td>
        </tr>
        <tr>
            <td>老师id</td>
            <td><input name="subTeacherId" type="text" id="subTeacherId"/></td>
        </tr>
        <tr>
            <td>选课类型</td>
            <td><input name="subCourseType" type="text" id="subCourseType"/></td>
        </tr>
        <tr>
            <td>课程类别</td>
            <td><input name="subCourseGenre" type="text" id="subCourseGenre"/></td>
        </tr>
        <tr>
            <td>是否为替代课程</td>
            <td><input name="replace" type="text" id="replace"/></td>
        </tr>
        <tr>
            <td>课程状态</td>
            <td><input name="subStatus" type="text" id="subStatus"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center"> <button type="submit">提交</button></td>
        </tr>
    </table>

</form>
</body>
</html>
