<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.shengxi.system.model.mapper.sys.SysDataMapper">
    <resultMap id = "BaseResultMap" type = "com.shengxi.system.entites.sys.SysData">
        <id column = "id" jdbcType = "VARCHAR" property = "id" />
        <result column = "key" jdbcType = "VARCHAR" property = "key" />
        <result column = "value" jdbcType = "VARCHAR" property = "value" />
        <result column = "type_no" jdbcType = "VARCHAR" property = "typeNo" />
        <result column = "remark" jdbcType = "VARCHAR" property = "remark" />
        <result column = "create_by" jdbcType = "VARCHAR" property = "createBy" />
        <result column = "create_time" jdbcType = "TIMESTAMP" property = "createTime" />
        <result column = "update_by" jdbcType = "VARCHAR" property = "updateBy" />
        <result column = "update_time" jdbcType = "TIMESTAMP" property = "updateTime" />
        <result column = "del_flag" jdbcType = "CHAR" property = "delFlag" />
        <result column = "type_css" jdbcType = "VARCHAR" property = "typeCss" />
    </resultMap>
    <sql id = "Base_Column_List">
        a.id,
        a.`key`,
        a.`value`,
        a.type_no,
        a.remark,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.type_css
    </sql>
    <sql id = "del_flag">
        '1'
    </sql>
    <select id = "selectByPrimaryKey" parameterType = "java.lang.String" resultMap = "BaseResultMap">
        select
        <include refid = "Base_Column_List" />
        from sys_data a
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id = "selectDictDataListByDictId" parameterType = "SysData" resultMap = "BaseResultMap">
        select
        <include refid = "Base_Column_List" />
        from sys_data a
        <where>
            a.del_flag =
            <include refid = "del_flag" />
            <if test = "id != null and id != '' ">
                and a.id = #{id}
            </if>
            <if test = "key != null and key != ''">
                and a.key = #{key,jdbcType=VARCHAR}
            </if>
            <if test = "value != null and value != ''">
                and a.value = #{value,jdbcType=VARCHAR}
            </if>
            <if test = "typeNo != null and typeNo != ''">
                and a.type_no = #{typeNo}
            </if>
            <if test = "createBy != null and createBy != ''">
                and a.create_by = #{createBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id = "insert" parameterType = "com.shengxi.system.entites.sys.SysData">
        insert into sys_data (id, `key`, `value`, type_no, type_css, remark, create_by, create_time, del_flag)
        values (#{id,jdbcType=VARCHAR},
                #{key,jdbcType=VARCHAR},
                #{value,jdbcType=VARCHAR},
                #{typeNo,jdbcType=VARCHAR},
                #{typeCss,jdbcType=VARCHAR},
                #{remark,jdbcType=VARCHAR},
                #{createBy,jdbcType=VARCHAR},
                now(),
                #{delFlag,jdbcType=CHAR})
    </insert>
    <insert id = "insertSelective" keyColumn = "id" keyProperty = "id"
            parameterType = "com.shengxi.system.entites.sys.SysData" useGeneratedKeys = "true">
        insert into sys_data
        <trim prefix = "(" suffix = ")" suffixOverrides = ",">
            <if test = "id != null and id != ''">
                id ,
            </if>
            <if test = "key != null">
                `key`,
            </if>
            <if test = "value != null">
                `value`,
            </if>
            <if test = "typeNo != null">
                type_no,
            </if>
            <if test="typeCss != null and typeCss != ''">
                type_css,
            </if>
            <if test = "remark != null">
                remark,
            </if>
            <if test = "createBy != null">
                create_by,
            </if>
            <if test = "createTime != null">
                create_time,
            </if>
            <if test = "delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix = "values (" suffix = ")" suffixOverrides = ",">
            <if test = "id != null and id != ''">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test = "key != null">
                #{key,jdbcType=VARCHAR},
            </if>
            <if test = "value != null">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test = "typeNo != null">
                #{typeNo,jdbcType=VARCHAR},
            </if>
            <if test="typeCss != null and typeCss != ''">
                #{typeCss,jdbcType=VARCHAR},
            </if>
            <if test = "remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test = "createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test = "createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test = "delFlag != null">
                #{delFlag,jdbcType=CHAR}
            </if>
        </trim>
    </insert>
    <update id = "updateByPrimaryKeySelective" parameterType = "com.shengxi.system.entites.sys.SysData">
        update sys_data
        <set>
            <if test = "key != null">
                `key` = #{key,jdbcType=VARCHAR},
            </if>
            <if test = "value != null">
                `value` = #{value,jdbcType=VARCHAR},
            </if>
            <if test = "typeNo != null">
                type_no = #{typeNo,jdbcType=VARCHAR},
            </if>
            <if test="typeCss != null and typeCss != ''">
                type_css = #{typeCss,jdbcType=VARCHAR},
            </if>
            <if test = "remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test = "updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test = "updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id = "updateByPrimaryKey" parameterType = "com.shengxi.system.entites.sys.SysData">
        update sys_data
        set `key` = #{key,jdbcType=VARCHAR},
        `value` = #{value,jdbcType=VARCHAR},
        type_no = #{typeNo,jdbcType=VARCHAR},
        type_css = #{typeCss,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        <where>
            id = #{id,jdbcType=VARCHAR}
        </where>
    </update>
    <update id = "deleteByPrimaryKey" parameterType = "java.lang.String">
        update sys_data
        set del_flag    = '0',
            update_by   = #{updateBy},
            update_time = now()
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>