<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengxi.system.model.mapper.sys.SysDeptMapper">
    <sql id="key">
        <trim suffixOverrides=",">

            <if test="id != null and id != ''">
                id,
            </if>

            <if test="parentId != null and parentId != ''">
                parent_id,
            </if>

            <if test="deptName != null and deptName != ''">
                dept_name,
            </if>

            <if test="sort != null and sort != ''">
                sort,
            </if>
            del_flag,
            create_time,
        </trim>
    </sql>

    <sql id="value">
        <trim suffixOverrides=",">

            <if test="id != null and id != ''">
                #{id},
            </if>

            <if test="parentId != null and parentId != ''">
                #{parentId},
            </if>

            <if test="deptName != null and deptName != ''">
                #{deptName},
            </if>

            <if test="sort != null and sort != ''">
                #{sort},
            </if>
            0,
            now(),
        </trim>
    </sql>

    <insert id="insertSysDeptEntity" parameterType="com.shengxi.system.entites.sys.SysDeptEntity">
        insert into sys_dept(<include refid="key"/>) values(<include refid="value"/>);
    </insert>

    <resultMap id="selectSysDeptEntityListMap" type="com.shengxi.system.entites.sys.SysDeptEntity">
        <id column = "id" property = "id"/>
        <result column = "parent_id" property = "parentId"/>
        <result column = "dept_name" property = "deptName"/>
        <result column = "sort" property = "sort"/>
    </resultMap>

    <select id="selectSysDeptEntityList"
            resultMap="selectSysDeptEntityListMap">
        select d.id,
       d.parent_id,
       d.dept_name,
       d.sort
        from sys_dept as dentites
        <where>
             d.del_flag = '1'
            <if test="id != null and id != ''">
               and d.id = #{id}
            </if>

            <if test="parentId != null and parentId != ''">
              and d.parent_id = #{parentId}
            </if>

            <if test="deptName != null and deptName != ''">
              and d.dept_name = #{deptName}
            </if>

            <if test="sort != null and sort != ''">
              and d.sort = #{sort}
            </if>

        </where>
    </select>
</mapper>