<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>开课学院审批页</title>
    <script>
        function checkall(){
            var flag=document.getElementById("ckall").checked;
            var ho=document.getElementsByName("box");
            for(var i=0;i<ho.length;i++){
                ho[i].checked=flag;
            }
        }
        function reverse(){
            var ho=document.getElementsByName("box");
            for(var i=0;i<ho.length;i++){
                ho[i].checked=!ho[i].checked;
            }
        }
    </script>
    <meta charset="UTF-8">
</head>
<body>
<a href="/college/college/subordinate">所属学院—网络工程系</a>
<a href="/college/college/classBegins">开课学院—网络工程系</a>
<table>
    <tr>
        <th>学年学期</th>
        <td><select style="width:173px;">
            <option value="1">2018-2019-1</option>
            <option value="1">全部</option>
            <option value="1">2015-2016-1</option>
            <option value="1">2015-2016-2</option>
            <option value="1">2016-2017-1</option>
            <option value="1">2016-2017-2</option>
            <option value="1">2017-2018-1</option>
            <option value="1">2017-2018-2</option>
            <option value="1">2018-2019-2</option>
            <option value="1">2019-2020-1</option>
            <option value="1">2019-2020-2</option>
        </select></td>
        <th>专业</th>
        <td><select style="width:173px;">  <option value="1">全部</option>
            <option value="1">软件工程</option>
            <option value="1">网络工程</option>
            <option value="1">电子信息工程</option>
            <option value="1">数字媒体技术</option>
            <option value="1">电子商务</option>
            <option value="1">财务管理</option>
            <option value="1">物流管理</option>
            <option value="1">市场营销</option>
            <option value="1">工商管理</option>
            <option value="1">视觉传达设计</option>
        </select></td>
        <th>学号</th>
        <td><input type="text" name=""  />
        </td>
    </tr>
    <th>姓名</th>
    <td><input type="text" name=""/>
    </td>
    <th>年级</th>
    <td><input type="text" name="" />
    </td>
    <th>开课编号</th>
    <td><input type="text" name="" />
    </td>
    <td height="27"><div align="center">
        <input type="submit" name="Submit" value="查询">
    </div></td>
    </tr>
</table>
<table width="100%" border="1" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <th width="35"><input type="checkbox" id="ckall" onclick="checkall()"  /></th>
        <th width="100">学期</th>
        <th width="35">学号</th>
        <th width="50">姓名</th>
        <th width="60">班级</th>
        <th width="70">专业</th>
        <th width="150">所属学院</th>
        <th width="66">原课程代码</th>
        <th width="100">原课程名称</th>
        <th width="38">原学分</th>
        <th width="77">现课程代码</th>
        <th width="106">现课程名称</th>
        <th width="39">现学分</th>
        <th width="73">开课编号</th>
        <th width="97">教学班级</th>
        <th width="50">是否审批</th>
        <th width="56">审批</th>
    </tr>
    <tr  th:each="subOptEntity : ${list}">
        <td><form name="form1" method="post" action="">
            <div align="center">
                <input type="checkbox" name="box" />
            </div>
        </form>
        </td>
        <td>2018—2019—1</td>
        <td th:text="${subOptEntity.subId}">1234567890</td>
        <td th:text="${subOptEntity.sysUser.userName}">张三三</td>
        <td th:each="dept : ${subOptEntity.sysDeptEntityList}" th:text="${dept.deptName}">软工一班</td>
        <td th:text="${subOptEntity.subjectEntity.subNo}">GE001</td>
        <td th:text="${subOptEntity.subName}">线性代数</td>
        <td th:text="${subOptEntity.subjectEntity.subCredit}">3</td>
        <td th:text="${subOptEntity.subjectEntity.subNo}">GE001</td>
        <td th:text="${subOptEntity.subName}">线性代数</td>
        <td th:text="${subOptEntity.subjectEntity.subCredit}">3</td>
        <td th:text="${subOptEntity.subId}">1243</td>
        <td th:text="${subOptEntity.subjectEntity.subClassName}">18网工三班</td>
        <td th:if="${subOptEntity.status=='0'}">未审核</td>
        <td th:if="${subOptEntity.status=='1'}">开课系部审核通过</td>
        <td th:if="${subOptEntity.status=='2'}">开课系部审核未通过</td>
        <td th:if="${subOptEntity.status=='3'}">审核通过</td>
        <td th:if="${subOptEntity.status=='4'}">教务审核未通过</td>
        <td>
            <a href="classBegins.html" th:href="@{/college/college/classBegins(id=${subOptEntity.id},status=1)}">同意</a>
            <a href="classBegins.html" th:href="@{/college/college/classBegins(id=${subOptEntity.id},status=2)}">驳回</a>
        </td>
    </tr>
    <!--<tr>
        <td height="27" colspan="17"><div align="center">
            <input type="submit" name="Submit" value="同意">
        </div></td>
    </tr>-->
</table>
<div align="center"></div>
</body>
</html>
