<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengxi.system.model.mapper.sys.SysUserMapper">

    <select id="findByNo"
            resultType="com.shengxi.rs.common.config.SysUser">
        select u.user_no,u.user_name,u.dept_id
        from sys_user as u
        <where>
            user_no=#{userNo}
            status = '1'
        </where>
    </select>



</mapper>