<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="childrenBody">
<H1>支付宝demo测试</H1>
<hr>
<div id="formDiv" class="form-control-static">
    <form id="formId" method="post">
        *商户订单 :<br>
        <input type="text" name="outTradeNo"><br>
        *订单名称 :<br>
        <input type="text" name="subject"><br>
        *付款金额 :<br>
        <input type="text" name="totalAmount"><br>
        商品描述 :<br>
        <input type="text" name="body"><br>
        <input type="submit" value="支付宝支付">
    </form>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "pay/ali";
    console.log($("#formId").serialize());
    var config = {
        url: prefix + "/alipay",
        data: $("#formId").serialize(),
        success: function (data) {
            if (data != null) {
                console.log(data);
                $("#formDiv").html(data);
            }
        },
    };
    $("#formId").submit(function () {
        $.submit.addSubmit(config)
    })

</script>
</body>
</html>