<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengxi.system.model.mapper.sub.ComSubMapper">

    <sql id="key">
        <trim suffixOverrides=",">

            <if test="id != null and id != ''">
                id,
            </if>

            <if test="stuNo != null and stuNo != ''">
                stu_no,
            </if>

            <if test="subNo != null and subNo != ''">
                sub_no,
            </if>

            <if test="subName != null and subName != ''">
                sub_name,
            </if>

            <if test="score != null and score != ''">
                score,
            </if>

            <if test="credit != null and credit != ''">
                credit,
            </if>
            del_flag,
            create_time,
        </trim>
    </sql>

    <sql id="value">
        <trim suffixOverrides=",">

            <if test="id != null and id != ''">
                #{id},
            </if>

            <if test="stuNo != null and stuNo != ''">
                #{stuNo},
            </if>

            <if test="subNo != null and subNo != ''">
                #{subNo},
            </if>

            <if test="subName != null and subName != ''">
                #{subName},
            </if>

            <if test="score != null and score != ''">
                #{score},
            </if>

            <if test="credit != null and credit != ''">
                #{credit},
            </if>
            0,
            now(),
        </trim>
    </sql>

    <insert id="insertComSubEntity" parameterType="com.shengxi.system.entites.subEntity.ComSubEntity">
        insert into com_sub(<include refid="key"/>) values(<include refid="value"/>);
    </insert>

    <resultMap id="selectComSubEntityListMap" type="com.shengxi.system.entites.subEntity.ComSubEntity">
        <id column="id" property="id"/>
        <result column="stu_no" property="stuNo"/>
        <result column="sub_no" property="subNo"/>
        <result column="sub_name" property="subName"/>
        <result column="score" property="score"/>
        <result column="credit" property="credit"/>
        <result column="semester" property="semester"/>
    </resultMap>

    <select id="selectComSubEntityList"
            resultMap="selectComSubEntityListMap">
        select c.id,
        c.stu_no,
        c.sub_no,
        c.sub_name,
        c.score,
        c.credit,
        c.semester
        from com_sub as c
        <where>
            c.del_flag = '1'
            <if test="id != null and id != ''">
                and id = #{id}
            </if>

            <if test="stuNo != null and stuNo != ''">
                and stu_no = #{stuNo}
            </if>

            <if test="subNo != null and subNo != ''">
                and sub_no = #{subNo}
            </if>

            <if test="subName != null and subName != ''">
                and sub_name = #{subName}
            </if>

            <if test="score != null and score != ''">
                and score = #{score}
            </if>

            <if test="credit != null and credit != ''">
                and credit = #{credit}
            </if>

            <if test="semester != null and semester != ''">
                and semester = #{semester}
            </if>
        </where>
    </select>

    <resultMap id="selectComSubListMap" type="com.shengxi.system.entites.subEntity.ComSubEntity">
        <id column="id" property="id"/>
        <result column="stu_no" property="stuNo"/>
        <result column="sub_no" property="subNo"/>
        <result column="sub_name" property="subName"/>
        <result column="score" property="score"/>
        <result column="credit" property="credit"/>
        <association property="subjectEntity" javaType="com.shengxi.system.entites.subEntity.SubjectEntity">
            <result column="sub_class_name" property="subClassName"/>
        </association>
    </resultMap>

    <select id="selectComSubList"
            resultMap="selectComSubListMap">
        select c.id,
        c.stu_no,
        c.sub_no,
        c.sub_name,
        c.score,
        c.credit,
        j.sub_class_name
        from com_sub c,
        sub_opt o,
        subject j
        <where>
            c.stu_no = #{stuNo}
            and c.stu_no = o.stu_no
            and o.sub_id = j.sub_carry_no
            and c.sub_no = j.sub_no
            and c.del_flag = '1'
        </where>
    </select>
</mapper>