<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengxi.system.model.mapper.sub.ComSubMapper">

    <sql id="key">
        <trim suffixOverrides=",">

            <if test="id!=null and id!=''">
                id,
            </if>

            <if test="stuNo!=null and stuNo!=''">
                stu_no,
            </if>

            <if test="subNo!=null and subNo!=''">
                sub_no,
            </if>

            <if test="subName!=null and subName!=''">
                sub_name,
            </if>

            <if test="score!=null and score!=''">
                score,
            </if>

            <if test="credit!=null and credit!=''">
                credit,
            </if>
            del_flag,
            create_time,
        </trim>
    </sql>

    <sql id="value">
        <trim suffixOverrides=",">

            <if test="id!=null and id!=''">
                #{id},
            </if>

            <if test="stuNo!=null and stuNo!=''">
                #{stuNo},
            </if>

            <if test="subNo!=null and subNo!=''">
                #{subNo},
            </if>

            <if test="subName!=null and subName!=''">
                #{subName},
            </if>

            <if test="score!=null and score!=''">
                #{score},
            </if>

            <if test="credit!=null and credit!=''">
                #{credit},
            </if>
            0,
            now(),
        </trim>
    </sql>

    <insert id="insereComSubEntity" parameterType="com.shengxi.system.entites.subEntity.ComSubEntity">
        insert into com_sub(<include refid="key"/>) values(<include refid="value"/>);
    </insert>

    <select id="selectComSubEntityList"
            resultType="com.shengxi.system.entites.subEntity.ComSubEntity">
        select c.stu_no,c.sub_no,c.sub_name,c.score,c.credit
        from com_sub as c
        <where>
        c.stu_no = '17210210613'
        and
        c.del_flag = '0'
        </where>
    </select>

</mapper>