<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengxi.system.model.mapper.sub.SubjectMapper">
    <select id="selectSubjectEntityList"
            resultType="com.shengxi.system.entites.subEntity.SubjectEntity">
        select * from subject
        <where>

        </where>
    </select>
</mapper>
