<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengxi.system.model.mapper.sub.SubOptMapper">

    <sql id="key">
        <trim suffixOverrides=",">

            <if test="id != null and id != ''">
                id,
            </if>

            <if test="stuNo != null and stuNo != ''">
                stu_no,
            </if>

            <if test="subId != null and subId != ''">
                sub_id,
            </if>

            <if test="subName != null and subName != ''">
                sub_name,
            </if>

            <if test="status != null and status != ''">
                status,
            </if>

            <if test="instituteRemark != null and instituteRemark != ''">
                institute_remark,
            </if>

            <if test="academicRemark != null and academicRemark != ''">
                academic_remark,
            </if>

            <if test="academicRemark != null and academicRemark != ''">
                academic_remark,
            </if>
            del_flag,
            create_time,
        </trim>
    </sql>

    <sql id="value">
        <trim suffixOverrides=",">

            <if test="id != null and id != ''">
                #{id},
            </if>

            <if test="stuNo != null and stuNo != ''">
                #{stuNo},
            </if>

            <if test="subId != null and subId != ''">
                #{subId},
            </if>

            <if test="subName != null and subName != ''">
                #{subName},
            </if>

            <if test="status != null and status != ''">
                #{status},
            </if>

            <if test="instituteRemark != null and instituteRemark != ''">
                #{instituteRemark},
            </if>

            <if test="academicRemark != null and academicRemark != ''">
                #{academicRemark},
            </if>
            0,
            now(),
        </trim>
    </sql>

    <insert id="insertSubOptEntity" parameterType="com.shengxi.system.entites.subEntity.SubOptEntity">
        insert into sub_opt(<include refid="key"/>) values(<include refid="value"/>);
    </insert>

    <resultMap id="selectSubOptEntityListMap" type="com.shengxi.system.entites.subEntity.SubOptEntity">
        <id column="id" property="id"/>
        <result column="stu_no" property="stuNo"/>
        <result column="sub_id" property="subId"/>
        <result column="sub_name" property="subName"/>
        <result column="status" property="status"/>
        <result column="institute_remark" property="instituteRemark"/>
        <result column="academic_remark" property="academicRemark"/>
    </resultMap>

    <select id="selectSubOptEntityList"
            resultMap="selectSubOptEntityListMap">
        select o.id,
        o.stu_no,
        o.sub_id,
        o.sub_name,
        o.status,
        o.institute_remark,
        o.academic_remark
        from sub_opt as o
        <where>
            o.del_flag = '1'
            <if test="id != null and id != ''">
                and id = #{id}
            </if>

            <if test="stuNo != null and stuNo != ''">
                and stu_no = #{stuNo}
            </if>

            <if test="subId != null and subId != ''">
                and sub_id = #{subId}
            </if>

            <if test="subName != null and subName != ''">
                and sub_name = #{subName}
            </if>

            <if test="status != null and status != ''">
                and status = #{status}
            </if>

            <if test="instituteRemark != null and instituteRemark != ''">
                and institute_remark = #{instituteRemark}
            </if>

            <if test="academicRemark != null and academicRemark != ''">
                and academic_remark = #{academicRemark}
            </if>
        </where>

    </select>
    <resultMap id="selectSubStuListMap" type="com.shengxi.system.entites.subEntity.SubOptToolEntity">
            <id column="stu_no" property="stuNo"/>
            <result column="user_name" property="userName"/>
            <result column="dname" property="subClass"/>
            <result column="ename" property="major"/>
            <result column="pname" property="subordinate"/>
            <result column="sub_institute" property="institute"/>
            <result column="cSubNo" property="originalSubNo"/>
            <result column="cSubName" property="originalSubName"/>
            <result column="cCredit" property="originalSubCredit"/>
            <result column="sub_no" property="nowSubNo"/>
            <result column="sub_name" property="nowSubName"/>
            <result column="sub_credit" property="nowSubCredit"/>
            <result column="sub_id" property="subCarryNo"/>
            <result column="sub_class_name" property="subClassName"/>
            <result column="status" property="status"/>
    </resultMap>

    <select id="selectSubStuList"
            resultMap="selectSubStuListMap" parameterType="String">
       SELECT o.sub_id,
        o.stu_no,
        o.sub_name,
        o.status,
        u.user_name,
        j.sub_no,
        j.sub_credit,
        j.sub_class_name,
        j.sub_institute,
        d.dept_name dname,
        e.dept_name ename,
        p.dept_name pname,
        c.sub_no cSubNo,
        c.sub_name cSubName,
        c.credit cCredit
        FROM sub_opt o,sys_user u,`subject` j,sys_dept d,sys_dept e,sys_dept p,com_sub c
        <where>
        o.stu_no=u.user_no
        and d.id='1626943763580391424'
        and d.parent_id=e.id
        and e.parent_id=p.id
        and o.sub_id = j.sub_carry_no
        and o.sub_name=c.sub_name
        and o.stu_no=c.stu_no
        and o.del_flag='1'
        and j.del_flag='1'
        and u.del_flag='1'
        and d.del_flag='1'
        and e.del_flag='1'
        and p.del_flag='1'
        and c.del_flag='1'
        </where>
    </select>

    <update id="updateByStuOpt">
        update sub_opt set
        status = #{status},
        update_time = now()
        <where>
            id = #{id}
        </where>
    </update>

</mapper>