<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengxi.system.model.mapper.sub.SubReplaceMapper">

    <sql id="key">
        <trim suffixOverrides=",">

            <if test="id != null and id != ''">
                id,
            </if>

            <if test="subNo != null and subNo != ''">
                sub_no,
            </if>

            <if test="subReplaceNo != null and subReplaceNo != ''">
                sub_replace_no,
            </if>
            del_flag,
            create_time,
        </trim>
    </sql>

    <sql id="value">
        <trim suffixOverrides=",">

            <if test="id != null and id != ''">
                #{id},
            </if>

            <if test="subNo != null and subNo != ''">
                #{subNo},
            </if>

            <if test="subReplaceNo != null and subReplaceNo != ''">
                #{subReplaceNo},
            </if>
            0,
            now(),
        </trim>
    </sql>

    <insert id="insertSubReplaceEntity" parameterType="com.shengxi.system.entites.subEntity.SubReplaceEntity">
        insert into sub_replace(<include refid="key"/>) values(<include refid="value"/>);
    </insert>

    <resultMap id="selectSubReplaceEntityListMap" type="com.shengxi.system.entites.subEntity.SubReplaceEntity">
        <id column = "id" property = "id"/>
        <result column = "sub_no" property = "subNo"/>
        <result column = "sub_replace_no" property = "subReplaceNo"/>
    </resultMap>

    <select id="selectSubReplaceEntityList"
            resultMap="selectSubReplaceEntityListMap">
        select r.id,
        r.sub_no,
        r.sub_replace_no
        from sub_replace as r
        <where>
            r.del_flag = '0'
            <if test="id != null and id != ''">
                and id = #{id}
            </if>

            <if test="subNo != null and subNo != ''">
                and sub_no = #{subNo}
            </if>

            <if test="subReplaceNo != null and subReplaceNo != ''">
                and sub_replace_no = #{subReplaceNo}
            </if>
        </where>
    </select>

    <update id="updateBySubReplaceEntityList">
        update sub_replace
        <set>
        sub_replace_no = #{subReplaceNo},
        update_time = now()
        </set>

        <where>
            sub_no = #{subNo}
        </where>

    </update>
</mapper>