<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="loginBody">
<form class="layui-form" id="login-form" method="post" onsubmit="return false;">
    <div class="login_title">登录</div>
    <div class="layui-form-item input-item">

        <input id="userNo" name="userNo" placeholder="用户名" type="text"
               autocomplete="off" class="layui-input" lay-verify="required">
    </div>
    <div class="layui-form-item input-item">

        <input id="password" name="password" placeholder="密码" type="password"
               autocomplete="off" class="layui-input" lay-verify="required">
    </div>
    <div class="layui-form-item">
        <button class="layui-btn layui-block" lay-filter="login" type="submit"
                onclick="login(this)">登录
        </button>
    </div>
</form>
<div th:include="include :: footer"></div>
<script>
    if (top != self) {
        parent.location.href = '/login';
    }

    var token = localStorage.getItem("token");
    if (token != null && token.trim().length != 0) {
        $.ajax({
            type: 'get',
            url: '/user/current?token=' + token,
            success: function (data) {
                /*验证有效*/
                if (data != null || data != ''){
                    location.href = '/index';
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                var msg = xhr.responseText;
                var response = JSON.parse(msg);
                var code = response.code;
                var message = response.message;
                if (code == 401) {
                    localStorage.removeItem("token");
                }
            }
        });
    }

    function login(obj) {
        $(obj).attr("disabled", true);
        var userNo = $.trim($('#userNo').val());
        var password = $.trim($('#password').val());
        if (userNo == "" || password == "") {
            $("#info").html('用户名或者密码不能为空');
            $(obj).attr("disabled", false);
        } else {
            $.ajax({
                type: 'post',
                url: '/login',
                data: $("#login-form").serialize(),
                success: function (data) {
                    location.href = '/index';
                },
                error: function (xhr, textStatus, errorThrown) {
                    var msg = xhr.responseText;
                    var response = JSON.parse(msg);
                    $("#info").html(response.message);
                    $(obj).attr("disabled", false);
                }
            });

        }
    }
</script>
</body>
</html>
