<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <script>
        function check(){
            alert("登录成功");
        }
    </script>
</head>
<body>
<form action="/login/login/judge" method="post">
    <table border="1" cellspacing="0" cellpadding="0" align="center">
        <tr>
            <th colspan="2" align="center">登录</th>
        </tr>
        <tr>
            <td>账号：</td>
            <td><input name="id" type="text" id="id" /></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input name="password" type="password" id="password" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="Submit" value="提交" />
                <input type="reset" name="Submit2" value="重置" /></td>
        </tr>
    </table>
</form>
</body>
</html>