<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教务部审批页</title>
</head>
<body>
上传文件：<input type="file" name="file1">
<input type="submit" value="提交">
<table width="100%" border="1" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <th width="70">学号</th>
        <th width="50">姓名</th>
        <th width="60">班级</th>
        <th width="70">专业</th>
        <th width="150">所属学院</th>
        <th width="78">开课院系</th>
        <th width="66">原课程代码</th>
        <th width="100">原课程名称</th>
        <th width="38">原学分</th>
        <th width="77">现课程代码</th>
        <th width="106">现课程名称</th>
        <th width="39">现学分</th>
        <th width="73">开课编号</th>
        <th width="97">教学班级</th>
        <th width="56">审批</th>
    </tr>
    <tr>
        <td>1234567890</td>
        <td>张三三</td>
        <td>软工一班</td>
        <td>软件工程</td>
        <td>计算机科学与技术院</td>
        <td>基础教育院</td>
        <td>GE001</td>
        <td>线性代数</td>
        <td>3</td>
        <td>GE001</td>
        <td>线性代数</td>
        <td>3</td>
        <td>1243</td>
        <td>网工三班</td>
        <td><input name="Input2" type="button" value="通  过"/>
            <input name="Input" type="button" value="不通过"/></td>
    </tr>
    <tr>
        <td>1234567891</td>
        <td>张四</td>
        <td>软工二班</td>
        <td>软件工程</td>
        <td>计算机科学与技术院</td>
        <td>基础教育院</td>
        <td>GE002</td>
        <td>高数Ⅰ</td>
        <td>6</td>
        <td>GE002</td>
        <td>高数Ⅰ</td>
        <td>6</td>
        <td>1243</td>
        <td>网工三班</td>
        <td><input name="Input2" type="button" value="通  过"/>
            <input name="Input" type="button" value="不通过"/></td>
    </tr>
</table>
</body>
</html>